*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url(background-img.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navbar{
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  background-color: #1b4cd3;
  position: relative;
}
.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
 
.navbar .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}
.navbar .nav-links a{
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}
/* Hover effects */
.navbar .nav-links a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
 
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:700px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: rgb(9, 14, 90);
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: rgb(9, 14, 90);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }
 
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
 
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }
   
 

    
footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  background-color: #c7940a;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1.2em;
  background-color: #25262e;
}
.footer-menu{
  float: left;
    margin-top: 8px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 5px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.7em;
  text-align: left;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}

.mt-5, .my-5 {
    margin-top: 0rem!important;
}


.custom-shape-divider-bottom-1610026357 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610026357 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1610026357 .shape-fill {
    fill: #FFFFFF;
}
  
  
.serviceBox{
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover{ background: #FB374D; }
.serviceBox .service-icon{
    color: #FB374D;
    font-size: 55px;
    margin: 0 0 20px;
    transition: all 0.3s ease 0s;
}
.serviceBox .title{
    color: #444;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 27px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.serviceBox .description{
    color: #999;
    font-size: 14px;
    line-height: 27px;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}
.serviceBox .read-more{
    color: #FB374D;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}
.serviceBox .read-more:hover{ text-shadow: 4px 4px rgba(255,255,255,0.3); }
.serviceBox.cyan .service-icon,
.serviceBox.cyan .read-more{
    color: #36ADB3;
}
.serviceBox.cyan:hover{ background: #36ADB3; }
.serviceBox.blue .service-icon,
.serviceBox.blue .read-more{
    color: #172E5A;
}
.serviceBox.blue:hover{ background: #172E5A; }
.serviceBox.orange .service-icon,
.serviceBox.orange .read-more{
    color: #F05D0D;
}
.serviceBox.orange:hover{ background: #F05D0D; }
.serviceBox:hover .service-icon,
.serviceBox:hover .title,
.serviceBox:hover .read-more{
    color: #fff;
}
.serviceBox:hover .description{ color: rgba(255,255,255,0.8); }
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}

.img {
    width: 90%;
    align: center;
}




.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}


.butn {
                   display: inline-block;
                    outline: none;
                    cursor: pointer;
                    font-weight: 600;
                    border-radius: 3px;
                    padding: 12px 24px;
                    border: 0;
                    color: #000021;
                    background: #1de9b6;
                    line-height: 1.15;
                    font-size: 16px;
                    :hover {
                        transition: all .1s ease;
                        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
       }
                    }
                
.buttn {
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-weight: 600;
      border-radius: 3px;
      padding: 12px 24px;
      border: 0;
      color: #fff;
      background: #ff5000;
      line-height: 1.15;
      font-size: 16px;
 :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
                    }
   }
                
.visi {
    
                    display: inline-block;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 4px;
                    padding: 8px 16px;
                    color: rgb(43, 108, 176);
                    border: 1px solid rgb(66, 153, 225);
                    line-height: 26px;
                    align: center;
                
}
